<div class="course-card" *ngIf="course">

  <div class="course-title">
    {{cardIndex  +' '+course.description}}
  </div>
   <img #courseImage width="300" alt="Angular Logo" *ngIf="isImageVisible(); else noImage " [src]="course.iconUrl">
  <ng-template #noImage>
    <p>NO IMAGE AVAILABLE!!!</p>
  </ng-template>

  <div class="course-description">
    {{course.longDescription}}
  </div>
  <div class="course-category" [ngSwitch]="course.category">
    <div class="category" *ngSwitchCase = "'BEGINNER'">BEGINNER</div>
    <div class="category" *ngSwitchCase = "'INTERMEDIATE'">INTERMEDIATE</div>
    <div class="category" *ngSwitchCase = "'ADVANCED'">ADVANCED</div>
    <div class="category" *ngSwitchDefault >ALL LEVELS</div>
  </div>
  <button (click)=onCourseViewed()>View Course</button>
</div>