<div class="top-menu">

    <img class="logo" style="float: left;" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
    <h1 style="text-align:center">ANGULAR UNIVERSITY</h1>

</div>  

<div class="courses" #container *ngIf = "courses[0] as course">
    <!-- <course-card *ngFor = "let floopcourse of courses; index as i; first as isFirst; 
    last as islast; even as isEven; odd as isOdd"
    
    [class.is-first]="isFirst" [class.is-last]="isLast"
    [class.is-even]="isEven" [class.is-odd]="isOdd"
    [cardIndex] = "i + 1"       
        (courseSelected)="onCourseSelected($event)" 
        [course]="floopcourse">
    </course-card> -->
    
    <course-card 
    (courseSelected)="onCourseSelected($event)"
    [course]="course"> 
    <course-image [srcUrl] = "course.iconUrl"></course-image>
    <course-image [srcUrl] = "courses[1].iconUrl"></course-image>
    <course-image [srcUrl] = "courses[2].iconUrl"></course-image>

    <div class="course-description">
        {{course.longDescription}}
    </div>
    
    </course-card>


</div>